* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #16161d;
  font-family: "Noto Sans", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section {
  margin: 10px;
  display: block;
}

img {
  width: 200px;
  height: 199px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 10px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.user-email,
.user-name,
.username {
  margin: 9px;
}

.username {
  font-size: 80px;
  font-weight: bold;
  color: #f0f0f0;
}
.user-name {
  font-size: 50px;
  font-variant-caps: all-small-caps;
  color: #f0f0f0;
}

.user-email {
  font-size: 25px;
  color: #f0f0f0;
}

.edit-btn {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(127, 255, 212, 0.692);
  /* position: relative; */
  cursor: pointer;
  border: 0px solid #fff;
  font-size: 16px;
  font-weight: 900;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.edit-btn:hover {
  background-color: rgba(127, 255, 212, 0.176);
}
.edit {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 25px;
  display: none;
}
.edit i {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 40px;
}

.edit h2 {
  font-size: 80px;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  color: #f0f0f0;
}

@media (max-width: 698px) {
  .container {
    /* position: relative; */
    align-content: flex-end;
  }
  canvas {
    display: block;
    width: 100% !important;
    height: 30vh !important;
  }
  img {
    width: 150px;
    height: 149px;
  }
  .user-name,
  .username {
    font-size: 30px;
  }
  .user-email {
    font-size: 15px;
    /* color: #f0f0f0; */
  }

  .edit {
    border: 0;
    padding: 0px;
    margin: 5px;
  }
  .edit i {
    font-size: 30px;
  }
  .edit h2 {
    margin: 10px;
    font-size: 70px;
  }
}
